// Define variables for your color scheme
// For example:
$red: black;
$light-blue: #71A9F7;
$dark-blue: #18206F;
$yellow: #FFD966;
$dark-orange: #F1C232;
$gray: #DADCE0;
$white: #FEFFFE;
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// #button colour
// background: #e9e2e2;

// button hover colour
// background-color: #c39d56;
