    <div class="clothing-card">
        <div class="group-3">
            <h2 class="name">Name</h2>
            <div class="frame-4">
                <button class="button">View</button>
            </div>
        </div>
        <div class="rectangle-10"></div>
        <div class="group-2">
            <h3 class="subheader">Subheader</h3>
            <p class="size">Size</p>
        </div>
        <p class="description">Description descrip description description description description ion descriptioion descriptio ion descriptioion descriptioion descriptioion descriptio</p>
    </div>
