<% if notice %>
  <div class="alert alert-info alert-dismissible fade show position-fixed bottom-0 start-0 m-1">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show position-fixed bottom-0 start-0 m-1">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>


<style>
.alert {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 10px;
  max-width: 500px;
  animation: fadeOut 6s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

</style>

