<div class="container">
  <div class="card">
    <div class="row bg-grey align-items-center">
      <div class="col-md-2 text-center">
        <h4 class="name">Nom</h4>
        <div class="profile-pic"></div>
      </div>
      <div class="col-md-8 info">
        <h2 class="title">Titre</h2>
        <p class="description">Description</p>
      </div>
      <div class="col-md-2 text-center">
        <button class="button">View</button>
      </div>
    </div>
  </div>
</div>
