<%= simple_form_for(request, html: { class: 'form edit-form' }) do |f| %>
  <div class="form-group">
    <%= f.input :status, as: :select, collection: Request::STATUSES, input_html: { class: 'form-control', style: 'background-color: white;' } %>
  </div>
  <%= f.submit submit_text, class: 'btn btn-primary btn-block' %>
<% end %>


<style>

.btn.btn-primary.btn-block {
  display: inline-block;
  color: black;
  background: #e9e2e2;
  border-radius: 5px;
  padding: 10px 5px;

  text-align: center;
  width: 250px;
  border: none;
}

.btn.btn-primary.btn-block:hover {
  background-color: #FFC65A;
  color: #fff;
  text-decoration: none;
}

</style>
