<h1>edit request</h1>

<% if @request.user == current_user %>
  <%= render :partial => 'edit_form_request_owner',
            :locals => {request: @request, submit_text: "Edit request"} %>
<% else %>
  <%= render :partial => 'edit_form_item_owner',
            :locals => {request: @request, submit_text: "Edit request"} %>
<% end %>
