<div class="container edit-container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="my-4">Edit request</h1>

      <% if @request.user == current_user %>
        <%= render :partial => 'edit_form_request_owner',
                  :locals => {request: @request, submit_text: "Edit request"} %>
      <% else %>
        <%= render :partial => 'edit_form_item_owner',
                  :locals => {request: @request, submit_text: "Edit request"} %>
      <% end %>

    </div>
  </div>
</div>


<style>

.container{
  font-family: Inter !important;
  margin-top: 30px;
  border: none;
}
.my-4{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 36px;
}

.col-md-8.offset-md-2 {
  border: none;
}
</style>
