<h1>Requests#index</h1>
<p>Find me in app/views/requests/index.html.erb</p>

<ul>
  <% @requests.each do |request| %>
    <li><%= User.find(request.user_id)[:first_name]%>
    <br>
    <%= request.title%> -
    <small><%= request.description%></small>
    <br>
    request id = <%= request.id%>
    </li>
  <% end %>
</ul>
k
