<h1>create new request</h1>

<% if params[:id] %>
  <%= render :partial => 'create_specific_form',
            :locals => {request: @request, submit_text: "Post request"} %>
  <% console%>
<% else %>
  <%= render :partial => 'create_open_form',
            :locals => {request: @request, submit_text: "Post request"} %>
  <% console%>
<% end %>
