  <div class="search-container">
    <%= form_with url: items_path, method: :get, class: "search-form" do %>
      <div class="input">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control me-2 search-box",
          placeholder: "Browse all items" %>
      </div>
    <% end %>
        <%# search results %>
  </div>

  <style>


  .search-box {
    border-radius: 25px !important;

  }


.search-input {
  margin-right: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 25px;
  padding: 10px;
  font-size: 16px;
  color: #333;
}
.search-btn {
  background-color: black;
  color: white;
  border: none;
  outline: none;
  width: 150px;
}

.search-btn:hover {
  background-color: #F16262;
  cursor: pointer;
  color: white;
}


</style>
