<%# Code to check seed and view working %>

<div>

  <%# search %>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8 my-3">
        <%= form_with url: items_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "I have nothing to wear"
            %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>



  <%# search %>
   <%= render :partial => 'search', :locals => {item: @item, submit_text: "Available!"} %>



</div>
<%# TO DO Styling %>
