<%# Code to check seed and view working %>

<div>

  <%# search %>
  <div class="d-flex justify-content-evenly" style="margin: 15px;">
    <div style="padding: 5px; min-width: 500px;">
      <%= form_with url: items_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "I have nothing to wear"
          %>
    </div>
    <div style="padding: 5px;">
      <%= submit_tag "Search", name: ""%>
    </div>
  </div>
    <% end %>
      <%# search %>
    <%= render :partial => 'search', :locals => {item: @item, submit_text: "Available!"} %>
</div>
<%# TO DO Styling %>




<style>
/* CSS */


</style>
