<div class="container">


  <div class="search-results-container mt-4 mb-4">
    <%= render :partial => 'search_results', :locals => {item: @item, submit_text: "Available!"} %>
  </div>
</div>

<style>

/* CSS */
.frame-5 {
  color: white;
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 33px;
  background: #000000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
