<h1>Create</h1>

<div>
  Upload clear, accurate pictures for best results!
</div>

<div>
<%= render :partial => 'form',
           :locals => {item: @item, submit_text: "Add to your wardrobe!"} %>
</div>
