<div>

<div style="padding: 29px 50px 0px 27px;">
  <h3>Add a new item to your wardrobe</h3>
</div>

<div>
<%= render :partial => 'form',
           :locals => {item: @item, submit_text: "Add to your wardrobe!"} %>
</div>
</div>
