<div class="container" id="my-container">
  <div class="row">
    <div class="col-md-12">
      <div>
        <div style="margin-top: 30px; margin-left: 40px;">
          <h3>Add a new item to your wardrobe</h3>
        </div>

        <div>
          <%= render :partial => 'form',
                     :locals => {item: @item, submit_text: "Add to your wardrobe!"} %>
        </div>
      </div>
    </div>
  </div>
</div>
