<div class="container" id="my-container">
  <div class="row">
    <div class="col-md-12">
      <div>
        <div style="margin-top: 30px; margin-left: 40px;">
          <h4 class="my-4">Add a new item to your wardrobe</h4>
        </div>

        <div>
          <%= render :partial => 'form',
                     :locals => {item: @item, submit_text: "Add to your wardrobe!"} %>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
.my-4{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 36px;
}
</style>
